@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
body {
  background-color: #dddddd;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
